.signup {
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 111px);
  width: 100%;
  min-height: 550px;
  max-height: 800px;
  @media screen and (max-width: 900px) {
    flex-direction: column;
    height: auto;
    min-height: none;
    max-height: none;
    gap: 100px;
  }
}
